.team-page{
    margin-top: 7%;
    margin-bottom: 12%;
}

.teams-sections{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 44px;
    text-align: center;
    margin-bottom: 0;
}

.team-selector{
    margin:20px;
}

.teams-clicks{
    border: 0;
    background-color: white;
    margin-left: 120px;
}

#team-dropdown{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    width:174px;
    background-color: #FF5A13;
    border: none;
    height:47px;
    border-radius: 60px;
    color:white;
    font-size:24px;
    text-align: center;
}

#label-drop{
    display: None;
}

.team-update-pop{
    font-family: "Nanum Gothic", sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 6px;
    width: 300px;
}

.teams-goal-pop{
    font-family: "Nanum Gothic", sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 6px;
    width: 500px;
}

.goal-teams-in{
    margin-bottom: 8px;
}

#selections-goal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}